.container {
  background-color: lightblue;
  padding: 24px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 24px;
}

.container > input {
  border-radius: 12px;
}

/* lowerCamelCase, kebab-case, CamelCase, snake_case, SCREAMING_SNAKE_CASE */
.nameInput {
  border-color: grey;
}
