.header {
  background-color: lightblue;
  padding: 24px 60px;
  width: 100%;
}

.header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  font-size: larger;
}

.link {
  padding: 4px;
  color: black;
}

.link:hover {
  color: goldenrod;
}